<% provide(:title, 'About us')%>

<h1>About Us</h1>
<p>
	The <a href="htt://railstutorial.org">Ruby on rails Tutorial></a>
	is a project to make a book and screencasts to teach web development
	with<a href="hhtp://rubyonrails.org/">Ruby on Rails</a>. this is the sample application for the tutorial.
	
</p>
